body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* Header Section */
}
header {
    background-color: lightpink;
    color: aliceblue;
    padding: 10px 20px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
header nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}
header nav ul li a:hover {
    text-decoration: underline;
    color: mediumaquamarine;
}
/* Hero Section */
.hero {
    background-color: lightgreen;
    color: lightcyan;
    text-align: center;
    padding: 100px 20px;
}
.hero-content h1{
    font-size: 3rem;
    
}
.hero-content p{
    font-size: 1.5rem;
    margin: 20px 0;
}
.cta-button {
    background-color: pink;
    color: lightcyan;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}
/* About Section */
.about {
    padding: 50px 20px;
    text-align: center;
    background-color: lightpink;
}
.about p {
    font-size: 1.5rem;
    color: lightcyan;
}
.about h2 {
    color: lightcyan;
    text-decoration: underline 
}

/* Skills Section */
.skills {
    padding: 50px 20px;
    text-align: center;
    background-color: lightgreen;
}
.skills h2 {
    font-size: 2.5rem;
    color: lightskyblue;
}
.skill-list {
display: flex;
justify-content: space-around;
gap: 20px;
flex-wrap: wrap;
}
.skill-item {
    padding: 20px;
    background-color: powderblue;
    border-radius: 10px;
    width: 25%;
    color: lightcyan;
}
.projects {
    padding: 50px 20px;
    text-align: center;
    background-color: lightpink;
}
.projects h2 {
    font-size: 2.5rem;
    color: lightcyan;
}
.project-list {
display: flex;
justify-content: space-around;
gap: 20px;
flex-wrap: wrap;
}
.project-item {
    padding: 20px;
    background-color:powderblue;
    border-radius: 10px;
    width: 25%;
    color: lightcyan;
}
img {
width: 90%;
}

/* Contact Section */
.contact {
    text-align: center;
    background-color: lightgreen;
    color:violet;
    padding: 50px 20px;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.2 rem;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.contact-info {
    width: 45%;
}
.contact-item {
    background-color:rgb(236, 151, 236);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(245, 183, 245);
}
.contact-item a {
    color: rgb(243, 186, 243);
    text-decoration: none;
    font-weight: bold;
  
}
.contact-item a:hover {
    text-decoration: underline;
    color: powderblue;
}
.contact-form {
    width: 45%;
    background-color: rgb(240, 155, 240);
    border-radius: 10px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
}